body{
    background: url(image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(34, 69, 83);
    font-family: 'Roboto', sans-serif;
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ HOME PAGE @@@@@@@@@@@@@@@@@@@@@@@@ */

.main-container{
    width: 90%;
    margin: auto;
    justify-content: center;
}

nav h1 {
    border-radius: 5px;
    color: white;
    background-color:  rgb(34, 69, 83);
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    margin: auto;
}

.grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grid-item {
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.8rem;
    margin: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(175, 196, 201);
    justify-content: center;
}

.grid-item:hover {
    border: none;
    background-color: rgb(34, 69, 83);
    box-shadow: 10px 15px 16px 0 rgba(0,0,0,0.2);
}

.grid-item:hover a {
    color: white;
    
}

.vid {
    width: 60%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vid h1{
    font-size: 3.5vw;
    background-color: rgb(34, 69, 83);
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

video {
    margin: auto;
    border-radius: 15px;
    border: solid 1px gray;
    padding: 10px;
    width: 100%;
}

.grid-item a {
    color: rgb(34, 69, 83);
    text-align: center;
    text-decoration: none;
    
}


.container {
    margin: 1.2rem;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1f;

    }

    .grid-item {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-item {
        font-size: 1rem;
    }

}

footer {
    padding: 30px;
    text-align: center;
    background-color: rgb(34, 69, 83);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ EDUCATION SECTION @@@@@@@@@@@@@@@@@@@@@@@@ */
.card {
    margin-top: 10rem;
    margin-bottom: 10rem;
    border-radius: 5px;
    border: 1px solid rgb(175, 196, 201);
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.card h1 {
    color: rgb(34, 69, 83);
    text-align: center;
}

.item-a {
    color: rgb(34, 69, 83);
    font-size: 1.4rem;
    height: auto;
    grid-area: top;
    padding-bottom: 5px;
  }

.item-b {
    color: #007bff;
    font-size: 1.2rem;
    height: auto;
    grid-area: left;
    padding-top: 3px;
}

.item-c {
    padding-top: 3px;
    height: auto;
    grid-area: right;
    font-size: 0.8rem;
    text-align: end;
    font-weight: bolder;
    color: rgb(99, 99, 99);
}

.item-d {
    height: auto;
    grid-area: bottom;
    border-bottom: rgb(110, 110, 110) solid 1px;
}

.varsity-grids{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "top"
        "left" 
        "right"
        "bottom";
    padding: 20px; 


}

.matric-grids{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "top"
        "left" 
        "right"
        "bottom";
    padding: 20px; 

}

.item-e {
    color: rgb(34, 69, 83);
    font-size: 1.4rem;
    height: auto;
    grid-area: top;
    padding-bottom: 5px;
  }

.item-f {
    color: #007bff;
    font-size: 1.2rem;
    height: auto;
    grid-area: left;
    padding-top: 3px;
}

.item-g {
    padding-top: 3px;
    height: auto;
    grid-area: right;
    font-size: 0.8rem;
    text-align: end;
    font-weight: bolder;
    color: rgb(99, 99, 99);
}

.item-h {
    height: auto;
    grid-area: bottom;
    
}


@media screen and (min-width: 576px) {
    .varsity-grids{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-template-areas: 
            "top top"
            "left right" 
            "bottom bottom";
        padding: 20px;
    }

    .matric-grids{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-template-areas: 
            "top top"
            "left right" 
            "bottom bottom";
        padding: 20px; 
    
    }
}

.education-section h2 {
    margin: auto;
    width: 40%;
    font-size: 3.5vw;
    background-color: rgb(34, 69, 83);
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

#left-btn{
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    color: white;
    background-color: rgb(34, 69, 83);
    float: left;
}

#right-btn{
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    color: white;
    background-color: rgb(34, 69, 83);
    float: right;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ SKILLS SECTION @@@@@@@@@@@@@@@@@@@@@@@@ */

.skills-section h2 {
    margin: auto;
    width: 40%;
    font-size: 3.5vw;
    background-color: rgb(34, 69, 83);
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.skills-rating {
    padding: 20px;
}

.skill-container {
    width: 100%;
    background-color: #dddddd;
    border-radius: 10px;
}

.skills {
    text-align: right;
}

.skill-heading {
    padding-bottom: 15px;
}

.html {
    border-radius: 10px;
    width: 100%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.css {
    border-radius: 10px;
    width: 80%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.js {
    border-radius: 10px;
    width: 50%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.bootstrap {
    border-radius: 10px;
    width: 70%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.cpp {
    border-radius: 10px;
    width: 60%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.python {
    border-radius: 10px;
    width: 70%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.sql {
    border-radius: 10px;
    width: 50%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.java {
    border-radius: 10px;
    width: 40%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.msexcel {
    border-radius: 10px;
    width: 90%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.msword {
    border-radius: 10px;
    width: 100%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}

.mspp {
    border-radius: 10px;
    width: 100%;
    background-color:  rgb(34, 69, 83);
    color: transparent;
}